<launch>
  <!-- <arg name="model_name" default="text-davinci-003"/> -->
  <arg name="model_name" default="gpt-3.5-turbo-instruct"/>
  
  <node name="behavior_tree_generation" pkg="behavior_tree_generation" type="behavior_tree_generation_node.py" output="screen">
    <!-- This param define the name of a specified rosparam to trigger behavior tree node  -->
    <param name="trigger_rosparam" type="string" value='/LLM_generation_finished' />
    <param name="model_name" type="string" value='$(arg model_name)' />
  </node>
  
</launch>
